html,
main,
.App,
.MuiTableContainer-root,
.MuiTable-root,
#root {
  height: 100%;
}

body {
  height: calc(100% - 70px);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MuiToggleButton-root {
  height: 50px;
  width: 50px;
}
.MuiToggleButtonGroup-root {
  margin-inline: 5px;
}
.fontRowInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: max-content;
  color: rgb(177, 177, 177);
  font-size: 1em;
  position: absolute;
  top: 10px;
  right: 15px;
}

.fontRowInfo > * {
  margin: 0;
}

.codeBlock {
  display: inline-block;
  font-family: Menlo, Monaco, Consolas;
  line-height: 1.4em;
  font-size: 0.8em;
  cursor: pointer;
  color: rgb(65, 65, 65);
  width: 50%;
  padding: 0.5em 0em 0.5em 0.5em;
  background-color: rgb(243, 243, 243);
  text-align: left;
}
